<!DOCTYPE html>
<html>
  <head>
    <title>TweetManager</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class="navbar sticky-top navbar-light bg-white shadow-sm mb-3">
      <a class="navbar-brand" href="#">
        <%= image_tag('twitter.svg', width: 30, height: 30) %>
        Tweet manager
      </a>
    </nav>
    <div class="container text-center">
      <%= yield %>
    </div>
  </body>
</html>
